body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url(img/pngtree-hexagonal-abstract-background-with-a-black-textured-surface-image_13704307.png);}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
p{
    color: aliceblue;
}
a{
    color: aliceblue;
}