body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(64, 166, 206);
}

#t{
    color: #2a36a5;
}

#P{
    color: #50794e;
}

#ti{
    color: #006437 ;
}

#e{
    color: rgb(230, 208, 83);
}
body{
    background-color: #fdecda;
}
