body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(0, 183, 255);
}

#t{
    color: #302c9b;
}

#P{
    color: #9dcc9b;
}

#ti{
    color: #006437 ;
}

#e{
    color: rgb(230, 208, 83);
}

